In [78]:
import pandas as pd

In [79]:
# 사전의 key가 열(column) 이름이 됩니다.
humans01 = pd.DataFrame({
    '이름': ['김철수', '박영희'],
    '직업': ['의사', '변호사'],
    '권역': ['서울', '경기'],
    '연령대': ['청년', '중년'],
    '성별': ['남', '여']
})
print(humans01)

    이름   직업  권역 연령대 성별
0  김철수   의사  서울  청년  남
1  박영희  변호사  경기  중년  여

In [80]:
humans02 = pd.DataFrame({
    '직업': ['의사', '변호사'],
    '권역': ['서울', '경기'],
    '연령대': ['청년', '중년'],
    '성별': ['남', '여']
    }, index = ['김철수', '박영희']
)
print(humans02)

      직업  권역 연령대 성별
김철수   의사  서울  청년  남
박영희  변호사  경기  중년  여

In [ ]:
mydata01 = {
    '성별': ['남', '남', '여', '여'],
    '나이': [30, 35, 40, 45],
    '직업': ['의사', '판사', '변호사', '노무사']
}
myindex01 = ['윤흥식', '유민섭', '이선희', '황진숙']
myframe01 = pd.DataFrame(data=mydata01, index=myindex01)
myframe01

In [ ]:
print(f'데이터 타입 확인 : {type(myframe01)}')

myframe01.columns.name = '직원들 정보'
print(f'열 색인 확인 : {myframe01.columns}')

In [ ]:
myframe01.index.name = '직원 이름'
print(f'행 색인 확인 : {myframe01.index}')

In [ ]:
print('데이터 프레임 내용 확인')
print(myframe01.values)

In [ ]:
print(f'type(myframe01.values) : {type(myframe01.values)}')

In [ ]:
print('# 주의 사항) 판다스에서 문자열은 object라고 표시됩니다.')
print(f'데이터 타입 확인 : {myframe01.dtypes}')

In [ ]:
print('데이터 프레임 확인')
print(myframe01)

In [ ]:
print('데이터 프레임 전치하기')
myframe01.T

In [ ]:
print('컬럼 재배치하기')
mycolumns = ['직업', '성별', '나이']
newframe = pd.DataFrame(myframe01, index=myindex01, columns=mycolumns)
newframe

In [ ]:
myindex02 = ['에스프레소', '아메리카노', '마끼아또', '카푸치노', '카페모카']
mycolumns02 = ['컴포즈커피', '스타벅스', '이디야커피', '메가커피', '투썸플레이스']
mylist02 = list(10 * onedata for onedata in range(1, 26))
print(mylist02)

In [ ]:
import numpy as np

mydata02 = np.reshape(mylist02, (5, 5)) # 5행 5열로 형상 변경
mydata02

In [ ]:
myframe02 = pd.DataFrame(data=mydata02, index=myindex02, columns=mycolumns02)
myframe02

In [ ]:
result02 = myframe02.iloc[1] # 1번째 행 추출
print(result02)

print(f'\n타입 확인 : {type(result02)}')

In [ ]:
result02 = myframe02.iloc[[1, 3]] # 몇개의 행 추출
print(result02)

print(f'\n타입 확인 : {type(result02)}')

In [ ]:
result02 = myframe02.iloc[0::2] # 짝수행만 추출
result02

In [ ]:
result02 = myframe02.loc['카페모카']
print(f'데이터 타입 : {type(result02)}')
result02

In [ ]:
result02 = myframe02.loc[['카페모카']]
print(f'데이터 타입 : {type(result02)}')
result02

In [ ]:
result02 = myframe02.loc[['마끼아또', '카푸치노']]
result02

In [ ]:
myframe02.loc['아메리카노':'카푸치노']

In [ ]:
mytarget02 = np.random.choice(myframe02.index, 3) # replace = False 옵션은 비복원 추출시 사용함
mytarget02

In [ ]:
result02 = myframe02.loc[mytarget02]
result02

In [ ]:
# result02 = myframe02.loc[행, 열]
result02 = myframe02.loc[['마끼아또'], ['메가커피']]
result02

In [ ]:
# 콤마 : 서로 떨어진 지점의 항목을 가져올 때 사용
result02 = myframe02.loc[['카페모카', '아메리카노'], ['이디야커피', '스타벅스']]
result02

In [ ]:
# 콜론 : 연속적인 범위의 데이터를 가져올 때 사용하되, 대괄호는 1개만 사용
result02 = myframe02.loc['아메리카노':'카푸치노', '스타벅스':'메가커피']
result02

In [ ]:
result02
print('연속 데이터와 떨어진 데이터 혼합')
result02 = myframe02.loc['아메리카노':'카푸치노', ['컴포즈커피', '이디야커피']]
result02

In [ ]:
# Boolean Indexing : 참과 거짓을 기반으로 참인 데이터만 추출하는 기법
boolTest = [False, True, True, False, True]
pd.DataFrame(boolTest)

In [ ]:
result02 = myframe02.loc[boolTest]
result02

In [ ]:
store, price = '메가커피', 100
print(f'{store} 단가가 {price} 이하인 품목들')
result02 = myframe02.loc[myframe02[store] <= price]
result02

In [ ]:
store, price = '이디야커피', 180
print(f'{store} 단가가 {price} 이하인 품목들')
result02 = myframe02.loc[myframe02[store] == price]
result02

In [ ]:
condition01  = (myframe02['스타벅스'] >= 70)
condition01

In [ ]:
condition02  = (myframe02['메가커피'] >= 140)
condition02

In [ ]:
# and, or, not 연산자는 일대일 비교라서 사용하지 못합니다.
# 대신 element wise(원소별 비교)를 위하여 &(and), |(or), ~(not)을 사용합니다.
boolResult = condition01 & condition02
result02 = myframe02.loc[boolResult]
result02

In [ ]:
print('양쪽 결과 통합')
condition = pd.DataFrame([condition01, condition02])
condition.T

In [ ]:
print('모든 항목들이 True인거 찾기')
condition.all()

In [ ]:
print('항목들 중에서 하나라도 True인거 찾기')
condition.any()

In [ ]:
print('all() 함수를 사용하여 모든 조건이 True인거 추출하기')
result02 = myframe02.loc[condition.all()]
result02

In [ ]:
print('any() 함수를 사용하여 하나라도 True인거 추출하기')
result02 = myframe02.loc[condition.any()]
result02

In [ ]:
print('람다 함수의 사용')
result02 = myframe02.loc[lambda xxx: xxx['이디야커피'] >= 130]
result02

In [ ]:
# myframe02.loc[행, 열] = 30
myframe02.loc[['아메리카노', '카페모카'], ['스타벅스']] = 30
myframe02

In [ ]:
myframe02.loc['에스프레소':'카푸치노', ['메가커피']] = 80
myframe02

In [ ]:
myframe02.loc[['카페모카'], :] = 50
myframe02

In [ ]:
myframe02.loc[:, ['투썸플레이스']] = 60
myframe02

In [ ]:
print('시리즈 출력 결과')
myindex31 = ['아메리카노', '에스프레소', '콜드브루']
mylist31 = [60, 30, 50]
myseries31 = pd.Series(mylist31, index=myindex31)
myseries31.to_frame()

In [ ]:
myindex31 = ['아메리카노', '에스프레소', '카푸치노']
mycolumns31 = ['스타벅스', '이디야커피', '빽다방']
mylist31 = list(10 * onedata for onedata in range(1, 10))
mylist31

In [ ]:
data31 = np.reshape(mylist31, (3, 3))
data31

In [ ]:
myframe31 = pd.DataFrame(data31, index=myindex31, columns=mycolumns31)
myframe31

In [ ]:
# 양쪽에 공존하지 않으면, 결측치(NaN)가 들어 갑니다.
print('DataFrame + Series')
result31 = myframe31.add(myseries31, axis=0)
result31

In [ ]:
myindex32 = ['아메리카노', '에스프레소', '바닐라라떼']
mycolumns32 = ['스타벅스', '이디야커피', '할리스']
mylist32 = list(5 * onedata for onedata in range(1, 10))
data32 = np.reshape(mylist32, (3, 3))
myframe32 = pd.DataFrame(data32, index=myindex32, columns=mycolumns32)
myframe32

In [ ]:
print('DataFrame + DataFrame')
newframe = myframe31.add(myframe32, axis=0, fill_value=0)
newframe

In [ ]:
newframe.loc[['바닐라라떼'], ['빽다방']] = 25.0
newframe.loc[['카푸치노'], ['할리스']] = 55.0
newframe

In [ ]:
myindex04 = ['아메리카노', '카페모카', '마끼아또']
mycolumns04 = ['투썸플레이스', '스타벅스', '이디야커피']
mylist04 = [50, 60, 40, 80, 30, 50, 80, 40, 60]
data04 = np.reshape(mylist04, (3, 3))
myframe04 = pd.DataFrame(data04, index=myindex04, columns=mycolumns04)
myframe04

In [ ]:
# 재색인 기능 : 색인을 추가/삭제/다시 정리하는 작업
print('새로운 품목 "바닐라라떼"가 각 매장에 50개씩 입고되었습니다.')
newindex = ['아메리카노', '카페모카', '마끼아또', '바닐라라떼'] # 신규 품목 : 바닐라라떼
myframe04 = myframe04.reindex(index=newindex, fill_value=50) # 입고 수량 : 50개
myframe04

In [ ]:
print('신규 브랜드 "빽다방"에 40개씩 입고되었습니다. ')
mycolumns04 = ['투썸플레이스', '스타벅스', '이디야커피', '빽다방']
myframe04 = myframe04.reindex(columns=mycolumns04, fill_value=40)
myframe04

In [ ]:
print('카페모카는 더 이상 판매되지 않습니다.')
myframe04 = myframe04.drop(['카페모카'], axis=0) # axis=0는 행 대상 작업
myframe04

In [ ]:
print('스타벅스와 빽다방은 더 이상 거래하지 않습니다.')
myframe04 = myframe04.drop(['스타벅스', '빽다방'], axis=1)
myframe04

In [ ]:
mydict05 = {
    '상품명': ['카페모카', '바닐라라떼', '아메리카노', '플랫화이트', '콜드브루'],
    '브랜드': ['스타벅스', '할리스', '투썸플레이스', '메가커피', '컴포즈커피'],
    '상반기': [10 * idx for idx in range(1, 6)],
    '하반기': [10 * idx for idx in range(5, 0, -1)]
}
myframe05 = pd.DataFrame(mydict05)
myframe05

In [ ]:
newframe05 = myframe05.set_index(['상품명'])
newframe05

In [ ]:
myseries05 = pd.Series([11 * idx for idx in range(1, 6)])
myseries05

In [ ]:
newframe05 = myframe05.set_index([myseries05])
newframe05

In [ ]:
temp = myframe05.set_index(['상품명'], drop=False)
temp

In [ ]:
print('reset_index() : 현재 색인 정보를 값 정보로 이동시키기')
newframe05.reset_index()

In [ ]:
print('reset_index() : drop=True 옵션은 이동이 아니고, 아예 폐기')
newframe05.reset_index(drop=True)

In [ ]:
chartdata = newframe.copy()
chartdata

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='Malgun Gothic')

In [ ]:
# 마커 종류 : 'o' '*' 's' 'D'
chartdata.plot(title='상품별 매장별 판매 실적 꺽은 선', figsize=(12, 8), legend=True, rot=0, marker='o', grid=True)
plt.ylim([0, 100])
plt.xlabel('상품 이름')
plt.ylabel('판매 실적')

In [ ]:
chart01 = chartdata.loc[:, ['빽다방', '이디야커피']]
chart01.plot(title='두 매장 꺽은선', figsize=(10, 6), legend=True, rot=0, marker='D', grid=True)
plt.ylim([0, 100])
plt.xlabel('상품 이름')
plt.ylabel('판매 실적')

In [ ]:
chartdata.plot(kind='bar', title='상품별 매장별 판매 실적', figsize=(10, 6), legend=True, rot=0, grid=True)
plt.ylim([0, 100])
plt.xlabel('상품 이름')
plt.ylabel('판매 실적')

In [ ]:
chart02 = chartdata.loc[:, ['스타벅스', '이디야커피']]
chart02.plot(kind='barh', title='상품별 매장별 판매 실적', figsize=(10, 6), legend=True, rot=0, grid=True)
plt.xlim([0, 100])
plt.ylabel('상품 이름')
plt.xlabel('판매 실적')

In [ ]:
chart02.columns

In [ ]:
nrow, ncol = 1, 2 # 서브 플로팅 행과 열 개수

fig, axs = plt.subplots(nrow, ncol, figsize=(9, 3), sharey=True, sharex=True)

for i, col in enumerate(chart02.columns):
    axs[i].bar(chart02.index, chart02[col])
    axs[i].set_title(col) # 그래프 각각 제목 설정
# end for

# 전체 제목과 여백 조정
fig.suptitle('브랜드별 판매 실적')
plt.tight_layout()